// Here you can add other styles
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.dropdown-menu>div>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.dropdown-menu>div>a {
  color: gray;
  padding: 10px;
  padding-left: 20px;
}

.dropdown-menu div a {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
}

.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}

.hvr-bounce-to-right:before {
  background: #F5EFF5 !important;
}

.hvr-bounce-to-right:active:before,
.hvr-bounce-to-right:focus:before,
.hvr-bounce-to-right:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, .37, .66);
  transition-timing-function: cubic-bezier(0.52, 1.64, .37, .66);
}

.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.md-dropdown-menu {
    display: block;
    opacity: 0;
    padding: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left
}

.md-dropdown-menu.dropdown-menu-right,.md-dropdown-menu.pull-right {
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right
}

.md-dropdown-menu>li {
    height: 48px
}

.md-dropdown-menu>li>a {
    padding: 0 14px;
    line-height: 48px
}

.show>.md-dropdown-menu {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}
.has-user-block {
    display: block;
    overflow: hidden;
    border: 0!important;
    width: 100%!important
}

.user-block {
    position: relative;
    padding: 25px 0 10px;
    cursor: pointer
}

.user-block:after,.user-block:before {
    content: " ";
    display: table
}

.user-block:after {
    clear: both
}

.user-block>.user-block-picture {
    position: relative;
    width: 60px;
    margin: 0 auto
}

.user-block>.user-block-picture>img {
    max-width: 100%;
    height: auto
}

.user-block .user-block-info {
    padding-top: 15px;
    text-align: center;
    white-space: nowrap
}

.user-block .user-block-info .user-block-name,.user-block .user-block-info .user-block-role {
    display: block
}

.user-block .user-block-info .user-block-name {
    color: #7D848F
}

.user-block .user-block-info .user-block-role {
    font-size: 12px;
    color: #aaa
}

.user-block-status {
    position: relative
}

.user-block-status>.circle {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 2px solid #fff
}

.aside-collapsed .user-block {
    padding: 15px 0 14px;
    margin: 0;
    text-align: center
}

.aside-collapsed .user-block>.user-block-picture {
    float: none;
    margin: 0 auto;
    width: 50px
}

.aside-collapsed .user-block>.user-block-picture>.user-block-status {
    display: block
}

.aside-collapsed .user-block .user-block-info {
    display: none
}

.circle {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 500px;
    margin: 0 .5em;
    background-color: #ddd;
    vertical-align: baseline;
    border: 2px solid transparent
}
.progress {
    -webkit-box-shadow: 0 0 0 #000;
    box-shadow: 0 0 0 #000;
    border-radius: 3px;
    border: 1px solid #f1f1f1;
    background-color: #fff; 
    margin:auto;
}

.progress .progress-bar {
    -webkit-box-shadow: 0 0 0 #000;
    box-shadow: 0 0 0 #000
}

.img-thumbnail {
    padding: 2px;
    line-height: 1.52857143;
    background-color: #e1e2e3;
    border: 1px solid #e1e2e3;
    border-radius: 3px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
.img-circle {
    border-radius: 50%;
}
.user-block-status>.circle {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 2px solid #fff;
}
.circle-lg {
    width: 11px;
    height: 11px;
}
.circle-success {
    background-color: #27c24c;
}
.text-aqua {
    color: #00c0ef !important;
}
.social-box{
    &.projects i {
        color: #fff;
        background: #3b5998;
    }
    &.experience i {
        color: #fff;
        background: #00aced;
    }
    &.awards i {
        color: #fff;
        background: #45c47e;
    }
    &.beer i {
        color: #fff;
        background: #bb4b39;
    }
}
.owl-item {
    .item {
        margin: auto;
    }
}
.social-box ul li span{
    color:#4c4c4c;
}
.progress-bar-aqua {
    background-color: #00c0ef;
}
.progress-bar-red {
    background-color: #dd4b39;
}
.progress-bar-green {
    background-color: #00a65a;
}
.progress-bar-yellow {
    background-color: #f39c12;
}
.progress-bar-orange {
    background-color: #f57921;
}
.progress-bar-maroon {
    background-color: #d81b60;
}
.progress-bar-purple {
    background-color: #605ca8;
}
.horizontal-bars li {
    height: 50px;
    &.type-2 {
        li{
            .bars{
                bottom: 6px;
            }
        }
    }
}
.bg-teal-gradient {
  background: #39cccc !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #39cccc), color-stop(1, #7adddd)) !important;
  background: -ms-linear-gradient(bottom, #39cccc, #7adddd) !important;
  background: -moz-linear-gradient(center bottom, #39cccc 0%, #7adddd 100%) !important;
  background: -o-linear-gradient(#7adddd, #39cccc) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7adddd', endColorstr='#39cccc', GradientType=0) !important;
  color: #fff;
}
.bg-light-blue-gradient {
  background: #3c8dbc !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3c8dbc), color-stop(1, #67a8ce)) !important;
  background: -ms-linear-gradient(bottom, #3c8dbc, #67a8ce) !important;
  background: -moz-linear-gradient(center bottom, #3c8dbc 0%, #67a8ce 100%) !important;
  background: -o-linear-gradient(#67a8ce, #3c8dbc) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67a8ce', endColorstr='#3c8dbc', GradientType=0) !important;
  color: #fff;
}
.bg-blue-gradient {
  background: #0073b7 !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0073b7), color-stop(1, #0089db)) !important;
  background: -ms-linear-gradient(bottom, #0073b7, #0089db) !important;
  background: -moz-linear-gradient(center bottom, #0073b7 0%, #0089db 100%) !important;
  background: -o-linear-gradient(#0089db, #0073b7) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0089db', endColorstr='#0073b7', GradientType=0) !important;
  color: #fff;
}
.bg-aqua-gradient {
  background: #00c0ef !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00c0ef), color-stop(1, #14d1ff)) !important;
  background: -ms-linear-gradient(bottom, #00c0ef, #14d1ff) !important;
  background: -moz-linear-gradient(center bottom, #00c0ef 0%, #14d1ff 100%) !important;
  background: -o-linear-gradient(#14d1ff, #00c0ef) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#14d1ff', endColorstr='#00c0ef', GradientType=0) !important;
  color: #fff;
}
.bg-yellow-gradient {
  background: #f39c12 !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f39c12), color-stop(1, #f7bc60)) !important;
  background: -ms-linear-gradient(bottom, #f39c12, #f7bc60) !important;
  background: -moz-linear-gradient(center bottom, #f39c12 0%, #f7bc60 100%) !important;
  background: -o-linear-gradient(#f7bc60, #f39c12) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7bc60', endColorstr='#f39c12', GradientType=0) !important;
  color: #fff;
}
.bg-purple-gradient {
  background: #605ca8 !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #605ca8), color-stop(1, #9491c4)) !important;
  background: -ms-linear-gradient(bottom, #605ca8, #9491c4) !important;
  background: -moz-linear-gradient(center bottom, #605ca8 0%, #9491c4 100%) !important;
  background: -o-linear-gradient(#9491c4, #605ca8) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9491c4', endColorstr='#605ca8', GradientType=0) !important;
  color: #fff;
}
.bg-green-gradient {
  background: #00a65a !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00a65a), color-stop(1, #00ca6d)) !important;
  background: -ms-linear-gradient(bottom, #00a65a, #00ca6d) !important;
  background: -moz-linear-gradient(center bottom, #00a65a 0%, #00ca6d 100%) !important;
  background: -o-linear-gradient(#00ca6d, #00a65a) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ca6d', endColorstr='#00a65a', GradientType=0) !important;
  color: #fff;
}
.bg-red-gradient {
  background: #dd4b39 !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dd4b39), color-stop(1, #e47365)) !important;
  background: -ms-linear-gradient(bottom, #dd4b39, #e47365) !important;
  background: -moz-linear-gradient(center bottom, #dd4b39 0%, #e47365 100%) !important;
  background: -o-linear-gradient(#e47365, #dd4b39) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e47365', endColorstr='#dd4b39', GradientType=0) !important;
  color: #fff;
}
.bg-black-gradient {
  background: #111111 !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #111111), color-stop(1, #2b2b2b)) !important;
  background: -ms-linear-gradient(bottom, #111111, #2b2b2b) !important;
  background: -moz-linear-gradient(center bottom, #111111 0%, #2b2b2b 100%) !important;
  background: -o-linear-gradient(#2b2b2b, #111111) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b2b2b', endColorstr='#111111', GradientType=0) !important;
  color: #fff;
}
.bg-maroon-gradient {
  background: #d81b60 ;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d81b60), color-stop(1, #e73f7c)) ;
  background: -ms-linear-gradient(bottom, #d81b60, #e73f7c) ;
  background: -moz-linear-gradient(center bottom, #d81b60 0%, #e73f7c 100%) ;
  background: -o-linear-gradient(#e73f7c, #d81b60) ;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e73f7c', endColorstr='#d81b60', GradientType=0) ;
  color: #fff;
}
[class*=" devicon-"], [class^=devicon-]{
    font-size: 110px;
    display: block;
}

 .techs-tools {
     .item {
        width: 250px;
        height: 10rem;
        padding: 1rem;
        display: block;
        height: 100%;
        color: #60be86;
        background: white;
        border: 1px solid #60be86;
        -webkit-transition: background-color 500ms linear;
        -moz-transition: background-color 500ms linear;
        transition: background-color 500ms linear;
        cursor: pointer; 
        text-align: center;
        .item-title{
            font-size: 1.2em;
            padding: 15px 0 0;
            position: relative;
            margin: 15px 0 10px;
            -webkit-transition:  all .2s ease-in-out;
            -moz-transition:  all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }
        .item-title:before{
            content: '';
            position: absolute;
            background: #60be86;
            width: 60px;
            height: 2px;
            top: 0;
            left: 50%;
            margin: 0 0 0 -30px;
            -webkit-transition:  all .2s ease-in-out;
            -moz-transition:  all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }
     }
     .item:hover {
        color: white;
        background: #60be86;
        -webkit-transition: background-color 200ms linear;
        -moz-transition: background-color 200ms linear;
        transition: background-color 200ms linear;
         i{
            -webkit-transform: translateY(15px);
            -moz-transform: translateY(15px);
            -ms-transform: translateY(15px);
            transform: translateY(15px);
            -moz-transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
         }
         .item-title{
            margin-top: 0px;
            margin-bottom: 25px;
            transition: all .2s ease-in-out;
         }
         .item-title:before{
            margin-top: 45px;
            background-color: #fff;
            transition: all .2s ease-in-out;
         }
     }
}
.card-body{
    flex: 1 1 auto;
    padding: 1.25rem;
}

.amber,.hover-amber:hover{
    color:#000!important;
    background-color:#ffc107!important
}
.aqua,.hover-aqua:hover{
    color:#000!important;
    background-color:#00ffff!important
}
.blue,.hover-blue:hover{
    color:#fff!important;
    background-color:#2196F3!important
}
.light-blue,.hover-light-blue:hover{
    color:#000!important;
    background-color:#87CEEB!important
}
.brown,.hover-brown:hover{
    color:#fff!important;
    background-color:#795548!important
}
.cyan,.hover-cyan:hover{
    color:#000!important;
    background-color:#00bcd4!important
}
.blue-grey,.hover-blue-grey:hover,.blue-gray,.hover-blue-gray:hover{
    color:#fff!important;
    background-color:#607d8b!important
}
.green,.hover-green:hover{
    color:#fff!important;
    background-color:#4CAF50!important
}
.light-green,.hover-light-green:hover{
    color:#000!important;
    background-color:#8bc34a!important
}
.indigo,.hover-indigo:hover{
    color:#fff!important;
    background-color:#3f51b5!important
}
.khaki,.hover-khaki:hover{
    color:#000!important;
    background-color:#f0e68c!important
}
.lime,.hover-lime:hover{
    color:#000!important;
    background-color:#cddc39!important
}
.orange,.hover-orange:hover{
    color:#000!important;
    background-color:#ff9800!important
}
.deep-orange,.hover-deep-orange:hover{
    color:#fff!important;
    background-color:#ff5722!important
}
.pink,.hover-pink:hover{
    color:#fff!important;
    background-color:#e91e63!important
}
.purple,.hover-purple:hover{
    color:#fff!important;
    background-color:#9c27b0!important}

.deep-purple,.hover-deep-purple:hover{
    color:#fff!important;
    background-color:#673ab7!important
}
.red,.hover-red:hover{
    color:#fff!important;
    background-color:#f44336!important
}
.sand,.hover-sand:hover{
    color:#000!important;
    background-color:#fdf5e6!important
}
.teal,.hover-teal:hover{
    color:#fff!important;
    background-color:#009688!important
}
.yellow,.hover-yellow:hover{
    color:#000!important;
    background-color:#ffeb3b!important
}
.white,.hover-white:hover{
    color:#000!important;
    background-color:#fff!important
}
.black,.hover-black:hover{
    color:#fff!important;
    background-color:#000!important
}
.grey,.hover-grey:hover,.gray,.hover-gray:hover{
    color:#000!important;
    background-color:#9e9e9e!important
}
.light-grey,.hover-light-grey:hover,.light-gray,.hover-light-gray:hover{
    color:#000!important;
    background-color:#f1f1f1!important
}
.dark-grey,.hover-dark-grey:hover,.dark-gray,.hover-dark-gray:hover{
    color:#fff!important;
    background-color:#616161!important
}
.callout {
    float: left !important;
}
.callout-knob{
    float: right !important;
}
.callout h4{
    color: #2d2d2d;
}
.timeline-footer span.label{
    margin-right:3px;
}
.sidebar-collapsed{
    width:45px !important;
    .has-user-block{
        display: none !important;
    }
    .nav-title{
        display: none !important;
    }
}
.mg-left-45{
    margin-left: 45px !important;
}
.sidebar-collapsed-mobile{
    margin-left: 0px !important;
    z-index: 1 !important;
    .has-user-block{
        display: block !important;
    }
    .nav-title{
        display: block !important;
    }
}