<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button" onclick="HideShowMobileSideBar();">&#9776;</button>
    <a class="navbar-brand" ui-sref="app.dashboard"></a>
    <a class="d-md-down-none" ui-sref="app.dashboard" href="#!/dashboard">Anjana Dashboard</a>
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#" onclick="HideShowSideBar();">&#9776;</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" data-toggle="collapse" href="#collapseProfileblock" role="button" aria-expanded="true" aria-controls="collapseProfileblock"><i class="icon-user" ></i></a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="#">Dashboard</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto d-md-down-none">
        <!-- <li class="nav-item">
            <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="icon-list"></i></a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="icon-location-pin"></i></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="img/avatars/2.jpg" class="img-avatar" alt="ajgihan@gmail.com">
                <span class="d-md-down-none">admin</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right md-dropdown-menu main-user-dropdown">

                <ul class="nav">
                    <li id="thirdtip" class="has-user-block">
                        <!--div(uib-collapse="userBlockVisible", ng-controller="UserBlockController")-->
                        <div class="collapse show" role="tabpanel" id="" style="height: auto;">
                            <div class="item user-block">
                                <!-- User picture-->
                                <div class="user-block-picture zoom a" href="/app/my-details">
                                    <div class="user-block-status">
                                        <img alt="Avatar" class="img-thumbnail img-circle" ng-src="img/avatars/1.jpg" src="img/avatars/3.jpg">
                                        <div class="circle circle-success circle-lg"></div>
                                    </div>
                                </div>
                                <!-- Name and Job-->
                                <div class="user-block-info">
                                    <span ui-sref="app.myDetails" class="user-block-name zoom a ng-binding">Anjana Gihan Wijesooriya</span>
                                    <span class="user-block-role zoom ng-binding text-aqua">Software Engineer</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <!-- <a class="nav-link navbar-toggler aside-menu-toggler" href="#">&#9776;</a> -->
        </li>

    </ul>
</header>