<!--
@author [Anjana Gihan Wijesooriya]
@email [ajgihan@gmail.com]
@create date 2018-03-28 12:15:33
@modify date 2018-03-28 12:15:33
@desc [description]
-->
<section class="content animated fadeIn">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <!-- Profile Image -->
                <div class="card-header">
                    About Me
                </div>
                <div class="box box-primary card-body">
                    <div class="box-body box-profile">
                        <div class="text-center">
                            <div class="clearfix"></div>
                            <img class="profile-user-img img-responsive" src="img/avatars/2.jpg" alt="Anjana Gihan">
                            <h3 class="profile-username text-center">Anjana Gihan Wijesooriya</h3>
                            <p class="text-muted text-center">Software Engineer</p>
                        </div>
                        <hr>
                        <div class="box-body">
                            <strong>
                                <i class="fa fa-book margin-r-5"></i> Education</strong>
                            <p class="text-muted">B.I.T Bachelor of Information Technology</p>
                            <hr>
                            <strong>
                                <i class="fa fa-map-marker margin-r-5"></i> Lives in</strong>
                            <p class="text-muted">Naiwala, Veyangoda, Sri Lanka</p>
                            <hr>
                            <strong>
                                <i class="fa fa-user-md margin-r-5"></i> Specialist in</strong>
                            <p>
                                <span class="p-1 m-1 badge badge-success">Front-end Development</span>
                                <span class="p-1 m-1 badge badge-info">Back-end Development</span>
                                <span class="p-1 m-1 badge badge-warning">Database Design</span>
                                <span class="p-1 m-1 badge badge-danger">Web Apps Building Deployment</span>
                                <span class="p-1 m-1 badge badge-primary pink">Software Consultant</span>
                            </p>
                        </div>

                        <a class="btn btn-primary btn-block" ui-sref="app.contact" href="#/app/contact">
                            <b>Contact Me</b>
                        </a>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Know Me
                </div>
                <div class="card-body">
                    <strong>Full Name</strong>
                    <p class="text-muted">Wijesooriya Hinguruwanage Don Anjana Gihan Wijesooriya</p>
                    <hr>
                    <strong>Address</strong>
                    <p class="text-muted">211, 3rd Lane, Naiwala, Veyangoda, Sri Lanka.</p>
                    <hr>
                    <strong>Date Of Birth</strong>
                    <p class="text-muted">3rd of October 1992</p>
                    <hr>
                    <strong>Gender</strong>
                    <p class="text-muted">Male</p>
                    <hr>
                    <strong>Civil Status</strong>
                    <p class="text-muted">Single</p>
                    <hr>
                    <strong>School Attended</strong>
                    <p class="text-muted">Bandaranayaka College, Gampaha
                        <br>Maharapola High School, Gampaha</p>
                    <hr>
                    <div class="mb-60"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    I Love To
                </div>
                <div class="card-body">
                    <div class="box-body">
                        <strong>
                            <i class="fa fa-film margin-r-5"></i>
                            <span class="pull-right"> Watch Movies with Friends</span>
                        </strong>
                        <hr>
                        <strong>
                            <i class="fa fa-headphones margin-r-5"></i>
                            <span class="pull-right"> Listen Music When Alone</span>
                        </strong>
                        <hr>
                        <strong>
                            <i class="fa fa-play margin-r-5"></i>
                            <span class="pull-right"> Play Cricket in Weekend</span>
                        </strong>
                        <hr>
                        <strong>
                            <i class="fa fa-bicycle margin-r-5"></i>
                            <span class="pull-right"> Cycling Alone</span>
                        </strong>
                        <hr>
                        <strong>
                            <i class="fa fa-motorcycle margin-r-5"></i>
                            <span class="pull-right"> Go for a Road Trips</span>
                        </strong>
                        <hr>
                        <strong>
                            <i class="fa fa-binoculars margin-r-5"></i>
                            <span class="pull-right"> Sight See All Hill Stations</span>
                        </strong>
                        <hr>
                        <strong>
                            <i class="fa fa-gamepad margin-r-5"></i>
                            <span class="pull-right"> Play Online games on PC</span>
                        </strong>
                        <hr>
                        <strong>
                            <i class="fa fa-weixin margin-r-5"></i>
                            <span class="pull-right"> Chat Friends</span>
                        </strong>
                        <hr>
                        <strong>
                            <i class="fa fa-camera-retro margin-r-5"></i>
                            <span class="pull-right"> Photograpy</span>
                        </strong>
                        <hr>
                        <strong>
                            <i class="fa fa-plane margin-r-5"></i>
                            <span class="pull-right"> Travel Alone</span>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>